<div class="card my-5">
  <div class="card-body">
    <h1>Poliza en Detalle</h1>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">numpoliza</th>
          <th scope="col">numsup</th>
          <th scope="col">idproducto</th>
          <th scope="col">estado</th>
        </tr>
      </thead>
      <tbody>
          <td>{{ poliza.idpoliza }}</td>
          <td>{{ poliza.numpoliza }}</td>
          <td>{{ poliza.numsup }}</td>
          <td>{{ poliza.idproducto }}</td>
          <td>{{ poliza.estado }}</td>
      </tbody>
    </table>
  </div>
</div>